// Config File For Akarin

// Telegram-Bot Config
exports.tg_bot_api_key = '';
exports.tg_group_id = 0;

// IRC Config
exports.irc_server = '';
exports.irc_channel = '';
exports.irc_nick = '';

// Turn On IRC Nick Auth By set SASL to true
exports.irc_sasl = false;
exports.irc_username = ''; // Usually Same as irc_nick
exports.irc_password = '';

// Blocking Config
exports.other_bridge_bots = []; //Auto hide prefix from these name
exports.blocki2t = []; // Block specific user from IRC to Telegram, use nickname here.
exports.blockt2i = []; // Block specific user from Telegram to IRC, use UserID here. Acquire ID by forward a user's message to @userinfobot.
